body {
  background-color: rgb(47, 79, 107);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, p {
  color: rgb(211, 211, 211);
  font-family: Roboto, arial;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 960px;
  padding: 0px;
  margin: 0px;

}

.grid-container > div {
  background-color: rgb(170, 170, 170);
  border: none;
  margin: 0px;
  opacity: 1;
  transition: 0.4s ease-out;
  height: 100px;
  width: 100px;
}

.hover {
  opacity: 0.8;
}

.promptButton {
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: solid transparent 2px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(67, 113, 154);
  margin: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.promptButton:active {
  scale: 0.98;
  opacity: 0.4;
}

.sButton:hover {
  border: solid rgb(177, 177, 177) 2px;
}